@import "../../style/color";
.container_order {
    width: 638px;
    height: 1080px;
    border-right: 3px $color-border solid;
    .name {
        width: 638px;
        height: 195px;
        background-color: $color-order;
        padding: 40px 157px 39px 158px;
        box-sizing: border-box;
        span {
            width: 323px;
            height: 116px;
            font-family: S-CoreDream-6;
            font-size: 84px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: $color-font-1;
        }
    }
    .main {
        padding: 65px 30px 64px 30px;
        width: 638px;
        height: 885px;
        box-sizing: border-box;
        .description {
            display: flex;
            width: 420px;
            height: 56px;
            margin: 0 82px 80px 76px;
            font-family: S-CoreDream-5;
            font-size: 40px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: $color-font-1;
        }
        .number_panel {
            div {
                float: left;
                display: flex;
                width: 280px;
                height: 135px;
                border-radius: 16px;
                margin-bottom: 20px;
                background-color: $color-border;
                span {
                    margin: auto;
                    width: auto;
                    height: auto;
                    font-family: S-CoreDream-7;
                    font-size: 80px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: $color-font-1;
                }
            }
            :nth-child(2n) {
                margin-left: 18px;
            }
        }
    }
}
.container_produce {
    width: 638px;
    height: 1080px;
    border-right: 3px $color-border solid;
    .name {
        width: 638px;
        height: 195px;
        background-color: $color-produce;
        padding: 40px 198px 39px;
        box-sizing: border-box;
        span {
            width: 242px;
            height: 116px;
            font-family: S-CoreDream-6;
            font-size: 84px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: $color-font-1;
        }
    }
    .main {
        padding: 65px 30px 64px 30px;
        width: 638px;
        height: 885px;
        box-sizing: border-box;
        .description {
            display: flex;
            width: 385px;
            height: 56px;
            margin: 0 94px 80px 99px;
            font-family: S-CoreDream-5;
            font-size: 40px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: $color-font-1;
        }
        .number_panel {
            div {
                float: left;
                display: flex;
                width: 280px;
                height: 135px;
                border-radius: 16px;
                margin-bottom: 20px;
                background-color: $color-border;
                span {
                    margin: auto;
                    width: auto;
                    height: auto;
                    font-family: S-CoreDream-7;
                    font-size: 88px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: $color-font-1;
                }
            }
            :nth-child(2n) {
                margin-left: 18px;
            }
        }
    }
}
.container_ready {
    width: 638px;
    height: 1080px;
    .name {
        width: 638px;
        height: 195px;
        background-color: $color-ready;
        padding: 40px 157px 39px 158px;
        box-sizing: border-box;
        span {
            width: 323px;
            height: 116px;
            font-family: S-CoreDream-6;
            font-size: 84px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: $color-back;
        }
    }
    .main {
        padding: 65px 30px 64px 30px;
        width: 638px;
        height: 885px;
        box-sizing: border-box;
        .description {
            display: flex;
            width: 577px;
            height: 56px;
            margin: 0 -5px 80px 6px;
            font-family: S-CoreDream-5;
            font-size: 40px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: $color-font-1;
        }
        .number_panel {
            div {
                float: left;
                display: flex;
                width: 280px;
                height: 135px;
                border-radius: 16px;
                margin-bottom: 20px;
                background-color: $color-border;
            }
            :nth-child(2n) {
                margin-right: 18px;
            }
            :not(:first-child) {
                span {
                    margin: auto;
                    width: auto;
                    height: auto;
                    font-family: S-CoreDream-7;
                    font-size: 88px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: $color-font-1;
                }
            }
            :first-child {
                width: 578px;
                margin-left: 0;
                span {
                    margin: auto;
                    width: auto;
                    height: auto;
                    font-family: S-CoreDream-9;
                    font-size: 94px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    text-align: left;
                    color: $color-ready;
                }
            }
        }
    }
}
